html{
  margin: 0px;
  padding:0px;
 display: flex;
}


body{
  background-color: #393939;
  font-family: 'Roboto';
  margin: 0px;

}
a{
  text-decoration: none;
  color: #00e17b;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/* text */
h1{
  padding: 0px;
  margin: 0px;
  color: #00e17b;
}

/* nav bar */
.logo {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;

}

nav{
  margin: 0px;
  padding: 0px;

  display:inline-flex;
  position: fixed;
  background-color:rgba(0, 0, 0, 0.25) ;
  align-items: center;
}
.ul-nav{

  display:flex;
  text-decoration: none;
  list-style-type: none;
  margin: 0px;


}
.li-nav{
  margin: 10px;
padding:10px;
display: block;
float: left;
}
.a-nav{
  text-decoration: none;
  text-align: center;
  color: #00e17b;
  display: block;
  box-sizing: 2px;

}
/* hero image */
.image-hero{
  margin: 0px;
  padding:0px;
  background: url("../assets/images/acceuil.png")no-repeat center top;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* corp */
.card{
  margin: 120px;
  padding: 20px;
  border-radius:25px;
  background-color: #000000;
  color:#00e17b;

}
.grille{
  display: grid;
  grid-template-columns: auto auto auto;
}
.btn-liens{
  border-radius: 25px;
  position: relative;
  align-items: center;
  background-color: #00e17b;
  color:#ffffff;
}
.logo-corps{
  display: inline-block;
  vertical-align: top;
  width: 135px;
  height: 135px;
  margin-right: 20px;
  margin-top: 15px;
  border-radius: 15px;
}
.block{
  padding: 20px;

  line-height: 29.3px;
  font-size: 25px;
  text-align: left;
  font-size: 15px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.mini-Logo{
  display: inline-flex;

}
.miniature{
  margin: 10px;
  padding: 10px;
  border-radius:25px;
  background-color: #393939;
  color:#00e17b;
}


/* footer */
.footer{
  background-color: #000000;
  color: #00e17b
  display: grid;
}
.logo-footer{
  display: inline-block;
  vertical-align: top;
  width: 300px;
  height: 300px;
  margin-right: 20px;
  margin-top: 15px;


}
.block-footer{
  padding: 20px;
  line-height: 29.3px;
  font-size: 25px;

  font-size: 15px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

}
