body{
  background-color: #393939;

}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/* nav bar */
.logo {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-top: 15px;
}
/* corp */
.card{
  margin: 20px;
  padding: 20px;
  border-radius:25px;
  background-color: #000000;
  color:#00e17b;

}
.grille{
  display: grid;
  grid-template-columns: auto auto auto;
}
.btn-liens{
  border-radius: 25px;
  align-items: center;
  background-color: #00e17b;
  color:#ffffff;
}
.logo-corps{
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  margin-top: 15px;
  border-radius: 15px;
}
.block{
  padding: 20px;
  font-size: 30px;
  text-align: left;
  font-size: 15px;

}
.mini-Logo{
  display: inline-flex;

}
.miniature{
  margin: 20px;
  padding: 20px;
  border-radius:25px;
  background-color: #393939;
  color:#00e17b;
}
/* footer */
.footer{
  background-color: #000000;
  color: #00e17b
  display: grid;
}
.logo-footer{
  display: inline-block;
  vertical-align: top;
  width: 300px;
  height: 300px;
  margin-right: 20px;
  margin-top: 15px;


}
.footer-column{
  column-count: 3;
}
