body{
  background-color: #393939;

}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/* nav bar */
.logo {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-top: 15px;
}
/* corp */
.card{
  margin: 20px;
  padding: 20px;
  border-radius:25px;
  background-color: #000000;
  color:#00e17b;
}
.btn-liens{
  border-radius: 25px;
  align-items: center;
  background-color: #00e17b;
  color:#ffffff;
}
.logo-corps{
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  margin-top: 15px;
  border-radius: 15px;
}
.mini-Logo{

}
/* footer */
footer{
  background-color: #000000;
  color: #00e17b
}
